/*  LAS VENTURAS STYLE  */
body{
  background:linear-gradient(180deg,#120b14,#1b0f24);
  color:#fff;
  font-family:'Poppins',sans-serif;
}

a{
  color:#fff
}
/* to dla naszego maina styl( nie robi dla calej strony tylko dla maina dlatego tak wchodzi nam efekt ze tlo jest fioletowe a wokol img jest zloto/czarny */
.card{
  max-width:1000px;
  margin:20px auto;
  padding:20px;
  background:#111;
  border-left:6px solid #f1c40f;
  box-shadow:0 10px 30px rgba(241,196,15,0.2);
}

h1{
  font-family:'Press Start 2P'; /*styl retro napisow */
  color:#f1c40f;
}

section h2{
  margin:20px 0 10px;
  color:#f9e79f;
}

.map-img{
  width:100%;
  max-width:900px;
  display:block;
  margin:20px auto;
  border-radius:10px;
}

/* MISJE */
.mission-toggle{
  margin-bottom:16px;
}

.mission-title{
  cursor:pointer; /*zmienia kursor na reke */
  padding:12px;
  background:#1b0f24;
  border-left:6px solid #f1c40f;
  font-weight:600;
}

.mission-list{
  display:none;
  padding:12px 20px;
  background:#111;
  border-left:6px solid #f1c40f;
}

.mission-list li{
  padding:4px 0;
}

.mission-list.show{
  display:block;
}

@media (max-width:768px){
  .cities{
    grid-template-columns:1fr;
  }
  h1{
    font-size:14px;
  }
}
